/* style for overall website */



/* style for section-one*/
.first-section{
   
}







/* style for section-two*/
/* style for section-three*/
/* style for section-four*/
/* style for section-five*/
/* style for section-six*/
/* style for section-seven*/
/* style for section-eight*/
