/* style for overall website */
body{
   margin: 0px;
   padding: 0px;
   border: 0px;
   font-family: 'Finlandica', sans-serif;
   font-family: 'Gentium Book Plus', serif;
   font-family: 'Roboto', sans-serif;
}

h1{
   font-weight: 500;
   font-size: 2em;
}

.common-style{

   text-align: left;
   padding-left: 100px;
   padding-top: 30px;
   margin-bottom: 100px;
}


/* style for section-one*/
#first-section{
   background-image: url(image/zakat-2.jpg);
   height:500px ;
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;   
}

#donate-header{
   color: white;
   width: 50%;
}

#donate-header p{

   font-weight: 500;
   margin-bottom: 40px;
}

.link-button{

   text-decoration: none;
   color: white;
   background-color: tomato;
   padding: 15px;
   border-radius: 5px;
  
}



/* style for section-two*/
#second-section{
   display: flex;
   width: 90%;
}

.expose-donation p{
   width: 80%;
   margin-bottom: 50px;
}

#eid-video{
   margin-top: 50px;
}



/* style for section-three*/

#third-section{
   display: flex;
   width: 90%;

}

#prayer-img img{
   width: 400px;
   height: 300px;
   margin-top: 40px;
}

#need-help{
   margin-left: 150px;
}

#need-help p{
   margin-bottom: 40px;
}



/* style for section-four*/

#fourth-section{
   width: 50%;
   margin: 0px auto;
   text-align: center;
}



/* style for section-five*/

.direct-help-main{
   display: flex;
   width: 50%;
   margin: 0px auto;  
}

.direct-help{
   display: flex;
   padding: 30px;
   margin: 20px;
   background-color: rgb(228, 193, 193);
   border-radius: 10px;
}

.direct-help-img{
   margin-top: 20px;
}

.direct-help-text{
   margin-left: 30px;

}

.direct-help-text p{
   margin-bottom: 40px;

}


/* style for section-six*/
#sixth-section {
   width: 90%;
   text-align: center;
}


#sixth-section img{
  
   border-radius: 20px;
   margin: 10px;
   padding: 10px;
}


/* style for section-seven*/
#seven-section{
   text-align: center;
   width: 50%;
   margin: 0px auto;
}

#seven-section p{
   font-family: 'Edu QLD Beginner', cursive;
   font-size: large;
}


/* style for section-eight*/
#eight-section{
   display: flex;
   width: 50%;
   margin: 0px auto;
   
 
}


.zakat-fund{
   margin: 20px;
   padding: 20px;
   box-shadow: 2px 2px 5px 8px rgb(66, 59, 59);
   border-radius: 10px;
   margin-bottom: 50px;  
}


.zakat-fund img{
   border-radius: 10px;  
}


.zakat-fund p{
  margin-bottom: 30px;
}


.zakat-fund a{
   color: tomato;  
   margin-bottom: 100px;
}


.zakat-fund a:hover{
   text-decoration: none;
   color: white;
   background-color: tomato;
   padding: 15px;
   border-radius: 5px;
}


/* style for footer-section*/
footer{
   background-color: black;
   padding: 50px;  
}


#footer-section {
   text-align: center;  
}


#footer-section h2{
   font-family: 'Ibarra Real Nova', serif;
   color: red;
   font-size: xx-large;
}


#footer-section p{
   font-family: 'Ibarra Real Nova', serif;
   color: white;
}

/* Thank you */
