/* style for overall website */
body{
   margin: 0px;
   padding: 0px;
   border: 0px;
   font-family: 'Finlandica', sans-serif;
   font-family: 'Gentium Book Plus', serif;
   font-family: 'Roboto', sans-serif;
}

h1{
   font-weight: 500;
   font-size: 2em;
}

.common-style{

   text-align: left;
   padding-left: 100px;
   padding-top: 30px;
   margin-bottom: 100px;
}


/* style for section-one*/
#first-section{
   background-image: url(image/zakat-2.jpg);
   height:500px ;
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;   
}

#donate-header{
   color: white;
   width: 50%;
}


#donate-header p{

   font-weight: 500;
   margin-bottom: 40px;
}


.link-button{

   text-decoration: none;
   color: white;
   background-color: tomato;
   padding: 15px;
   border-radius: 5px;
  
}


/* style for section-two*/
#second-section{
   display: flex;
   width: 90%;
}

.expose-donation p{
   width: 80%;
   margin-bottom: 50px;
}

#eid-video{
   margin-top: 50px;
}


/* style for section-three*/

#third-section{
   display: flex;
   width: 90%;

}


#prayer-img img{
   width: 400px;
   height: 300px;
   margin-top: 40px;
}


#need-help{
   margin-left: 150px;
}


#need-help p{
   margin-bottom: 40px;
}


/* style for section-four*/







/* style for section-five*/
/* style for section-six*/
/* style for section-seven*/
/* style for section-eight*/
